---
import { Icon } from 'astro-icon/components'
---

<div class="flex flex-col border-4 border-gray rounded-md max-w-full mx-auto shadow-xl">
  <div class="flex flex-row border-b-4 justify-end">
    <div class="mr-3 flex flex-row w-16 h-10 justify-between items-center">
        <Icon name="material-symbols:minimize-rounded"/>
        <Icon name="material-symbols:check-box-outline-blank"/>
        <Icon name="material-symbols:close-rounded" />
    </div>
  </div>
  <div class="p-1">
    <slot />
  </div>
</div>
